parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        -
            identifier: function.alreadyNarrowedType
        -
            identifier: trait.unused
            path: src/Webhooks/SerializesHubWebhookByIds.php
    reportUnmatchedIgnoredErrors: false
